<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text question">
          ¿Quieres formar parte de nuestra comunidad?
        </h5>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Canales</h5>
        <ul>
          <li>
            <a
              class="grey-text text-lighten-3"
              href="https://www.twitch.tv/applelan_92"
              ><em>Twitch:</em> https://www.twitch.tv/applelan_92</a
            >
          </li>
          <li>
            <a
              class="grey-text text-lighten-3"
              href="https://discord.gg/x4HKqSYBKS"
              ><em>Comunidad Discord:</em> https://discord.gg/x4HKqSYBKS</a
            >
          </li>
          <li>
            <a
              class="grey-text text-lighten-3"
              href="https://www.instagram.com/alanbuscaglia"
              ><em>Instagram:</em> https://www.instagram.com/alanbuscaglia</a
            >
          </li>
          <li>
            <a
              class="grey-text text-lighten-3"
              href="https://open.spotify.com/show/4AhopzZexw2wOMJyIcBWlx?si=_03r6CGKT3eIetBu5ty0YQ"
              ><em>Spotify:</em> https://open.spotify.com/show/4Ahopz...
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">© {{ year }} Gentleman Programming</div>
  </div>
</footer>
