nav {
  background-color: #eb1889;
}

.nav-wrapper {
  width: 100%;
}

.logo {
  font-size: 35px;
  text-transform: uppercase;
  margin-left: 10%;
}
.logo:hover {
  cursor: pointer;
}

.noDisplay {
  display: none;
}

@media (max-width: 650px) {
  .logo {
    font-size: 20px;
  }
}
