<h1 class="mt-3 fw-light animate__animated animate__fadeIn">Youtube Videos</h1>
<hr />

<div class="row">
  <div
    class="col s12 l4 animate__animated animate__fadeIn"
    *ngFor="let video of videos"
  >
    <div class="card">
      <div class="card-image">
        <img [src]="video.thumbnails.high.url" [alt]="video.title" />
        <span class="card-title">{{ video.title | slice: 0:80 }}...</span>
      </div>
      <div class="card-content">
        <p>{{ video.description | slice: 0:170 }}...</p>
      </div>
      <div class="card-title grey-text text-darken-4">
        <h5 class="center">
          <strong>Publicado: </strong>{{ video.publishedAt | date }}
        </h5>
      </div>
      <div class="card-action">
        <a
          (click)="showVideo(video)"
          class="waves-effect waves-light btn center"
          >Ver Video</a
        >
      </div>
    </div>
  </div>
</div>

<div class="row center">
  <div class="col">
    <button class="btn" (click)="loadVideos()">Más Videos</button>
  </div>
</div>

<div *ngIf="canVisitBook" class="fixed-action-btn">
  <a class="btn-floating btn-large btn pulse">
    <i (click)="navigateToBook()" class="material-icons">add</i>
  </a>
</div>
